body{
margin:0;
font-family:Tahoma;
background:#0f172a;
color:white;
}

/* الشريط العلوي */
.topbar{
height:55px;
background:#020617;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 15px;
font-size:20px;
border-bottom:1px solid #1f2937;
}

.menu,.search{
cursor:pointer;
font-size:22px;
}

.title{
font-weight:bold;
font-size:19px;
}

/* قائمة المحادثات */
#chatList{
padding:10px;
}

/* صفحة المحادثة */
#privateChat{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#0f172a;
display:flex;
flex-direction:column;
}

.hidden{
display:none;
}

.chatHeader{
background:#020617;
padding:15px;
font-weight:bold;
border-bottom:1px solid #1f2937;
text-align:center;
}

#messages{
flex:1;
overflow-y:auto;
padding:10px;
}

.msg{
background:#1e293b;
padding:10px;
margin:6px 0;
border-radius:10px;
max-width:80%;
}

.me{
background:#22c55e;
color:black;
margin-left:auto;
}

/* صندوق الإرسال */
#sendForm{
display:flex;
padding:10px;
background:#020617;
}

#sendForm input{
flex:1;
padding:12px;
border:none;
border-radius:10px;
background:#1f2937;
color:white;
}

#sendForm button{
margin-left:6px;
padding:12px 16px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
}
